# Application Environment
NODE_ENV=development
PORT=4000

# Database PostgreSQL Connection String
DATABASE_URL="postgresql://postgres:postgres123@localhost:5432/wfh_attendance_db?schema=public"

# Redis Cache & Message Broker
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT Authentication
JWT_SECRET=super_secret_jwt_key_wfh_portal_2026
JWT_EXPIRATION=86400s

# Microservices Ports
GATEWAY_PORT=4000
AUTH_SERVICE_PORT=4001
EMPLOYEE_SERVICE_PORT=4002
ATTENDANCE_SERVICE_PORT=4003
LEAVE_SERVICE_PORT=4004
PAYROLL_SERVICE_PORT=4005
