# Application Environment
NODE_ENV=development
PORT=4000

# Database MySQL Connection String
DATABASE_URL="mysql://root:@localhost:3306/wfh_attendance_db"

# Redis Cache & Message Broker (Optional)
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT Authentication
JWT_SECRET=super_secret_jwt_key_wfh_portal_2026
JWT_EXPIRATION=86400s

# Microservices Ports
GATEWAY_PORT=4000
AUTH_SERVICE_PORT=4001
EMPLOYEE_SERVICE_PORT=4002
ATTENDANCE_SERVICE_PORT=4003
LEAVE_SERVICE_PORT=4004
PAYROLL_SERVICE_PORT=4005
